<div id="rsvp">
  <p class="dumbojumbo">
    PLZ RSVP
  </p>
</div>
<div id="directions">
  <p class="dumbojumbo">
    GET DIRECTIONS
  </p>
  
</div>
<div id="venue">
  <p class="dumbojumbo">
    THE VENUE
  </p>
  
</div>
<div id="activities">
  <p class="dumbojumbo">
    DO ACTIVITIES
  </p>
  
</div>
<div id="lodging">
  <p class="dumbojumbo">
    HAVE LODGING
  </p>
  
</div>
<div id="timeline">
  <p class="dumbojumbo">
    BE IN TIMELINE
  </p>
  
</div>