<div id="savedate-wholepage">
  <div class="savedate-fixed-bg1">
    <div class="savedate-text-container1">
      <%= image_tag("lets_go_to_the_forest.png", alt: "Let's go to the Forest", id: "savedate-forest") %> 
    </div>
  </div>
  <div class="savedate-fixed-bg2">
    <div class="savedate-text-container2">
      <div class=savedate-text-lrg>
        Ryan and Anna
      </div>
      <div class="savedate-text-med">
        Are
      </div>
      <div class=savedate-text-lrg>
        Getting Married
      </div>
      <div class=savedate-text-lrg>
        July 8th, 2017
      </div>
      <div class="savedate-text-med">
        Ashford, Washington
      </div>    
      <div class="savedate-text-sml">
        Invitations to follow
      </div>
    </div>
  </div>
</div>