<head>
  <link href="https://fonts.googleapis.com/css?family=Euphoria+Script" rel="stylesheet">  
</head>

<div class="fixed-bg1">
  <div class="text-container1">
    <%= image_tag("Let's_go_to_the_Forest.svg", alt: "Let's go to the Forest") %> 
  </div>
</div>
<div class="fixed-bg2">
  <div class="text-container2">
    <div class=text-lrg>
      Ryan and Anna
    </div>
    <div class="text-med">
      Are
    </div>
    <div class=text-lrg>
      Getting Married
    </div>
    <div class=text-lrg>
      July 8th, 2017
    </div>
    <div class="text-med">
      Ashford, Washington
    </div>    
    <div class="text-sml">
      Invitations to follow
    </div>
  </div>
</div>
