
<div class="fixed-bg1">
  <div class="text-container1">
    <%= image_tag("lets_go_to_the_forest.png", alt: "Let's go to the Forest", id: "forest") %> 
  </div>
</div>
<div class="fixed-bg2">
  <div class="text-container2">
    <div class=text-lrg>
      Ryan and Anna
    </div>
    <div class="text-med">
      Are
    </div>
    <div class=text-lrg>
      Getting Married
    </div>
    <div class=text-lrg>
      July 8th, 2017
    </div>
    <div class="text-med">
      Ashford, Washington
    </div>    
    <div class="text-sml">
      Invitations to follow
    </div>
  </div>
</div>
