<% if object.errors.any? %>
  <div class="flex_center" id="error_explanation">
    <div class="emphasis">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li class="emphasis"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>