<% if object.errors.any? %>
<div class="flex_center" style="text-align:center">
  <div id="error_explanation">
    <div class="emphasis">
      The form contains <%= pluralize(object.errors.count, "error") %>:
    <% object.errors.full_messages.each do |msg| %>
      <div class="emphasis"><%= msg %></div>
    <% end %>
    </div>
    <br>
    <div class="emphasis">Please refresh the page and start again.</div>
  </div>
</div>
<% end %>