


// ------------------------------ COLOR PALETTE: ------------------------------

$white: #fff;
$spanish_white: #dfd3bb;
$persian_red: #D53223;
$mantis_green: #7EBF59;
$bondi_blue: #008DB8;
$kelp_gray: #4B4F40;
$warming_gray: rgba(20,20,15,.25);
$warming_green: rgba(170,170,7,.1);

// ------------------------------ FONT PALETTE: -------------------------------

$homemade_apple: 'Homemade Apple', cursive;
$verdana: 'Verdana', sans-serif;
$georgia: 'Georgia', serif;
$timesnewroman: 'Times New Roman', serif;


// ############################ TABLE OF CONTENTS: ############################
// ---------------------------- GLOBAL DEFINITIONS ----------------------------
// -------- body, html, p
// ----------------------------- NAVBAR - MOBILE ------------------------------
// ---- NAVBAR
// ---------------------------- HOME PAGE - MOBILE ----------------------------
// ---- RESPONSIVE COLUMNS
// ---- CLASS
// ---- SECTIONS
// -------- #welcome
// -------- #intro
// -------- #rsvp
// -------- #lodging
// -------- #schedule
// -------- #activities
// -------- #venue
// -------- #registry
// -------- #directions
// -------- #contact
// ---------------------------- SAVEDATE - MOBILE -----------------------------
// ---- CLASS
// ---- ID
// ----------------------------- NAVBAR - MOBILE ------------------------------
// ---- NAVBAR
// ---------------------------- HOME PAGE - DESKTOP ---------------------------
// ---- CLASS
// ---- SECTIONS
// ---------------------------- SAVEDATE - DESKTOP ----------------------------


// ############################ GLOBAL DEFINITIONS ############################
// These top level definitions apply to multiple static pages.

* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
p {
  font-family: $timesnewroman;
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: .1em;
}
a { color: inherit; }
.emphasis {
  font-style: italic;
  color: $persian_red;
}

// ############################ MOBILE ORIENTATION ############################
// This site is designed to be MOBILE-FIRST. Below are the default stylings,
// intended for initial mobile renders. (The Desktop Orientation section can be
// found further down this file.)

// ----------------------------- NAVBAR - MOBILE ------------------------------
nav {
  background: $kelp_gray;
  margin-top: 0;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}
ul.topnav li {
  float: none;
}
ul.topnav li a {
  display: block;
  color: $white;
  font-size: 1.6em;
  letter-spacing: .25em;
  text-align: center;
  padding-bottom: .6em;
  text-decoration: none;
}



// ---------------------------- HOME PAGE - MOBILE ----------------------------

// RESPONSIVE COLUMNS

// TWIN COLUMNS

.section {
  clear: both;
  padding: 0;
  margin: .2em 2em 2em 2em;
}
.col {
  display: block;
  float:left;
  margin: 0%;
}
.col:first-child { margin-left: 0; }
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.span_2_of_2, .span_1_of_2 { width: 100%; margin-bottom: -1em;}

@media only screen and (min-width: 1024px) {
  .section {
    clear: both;
    padding: 0;
    margin: .2em 5em 5em 5em;
  }
  .col { 
    margin: 0% 0% 0% 4%;
  }
  .span_2_of_2 {
    width: 100%;
  }
  .span_1_of_2 {
    width: 48%;
  }
}

// TRIPLET COLUMNS

.section_thirds {
  clear: both;
  padding: 0;
  margin: .2em 2em .2em 2em;
}
.span_3_of_3, .span_2_of_3, .span_1_of_3 { 
  width: 100%; margin-bottom: -1em;
}

@media only screen and (min-width: 1024px) {
  .section_thirds {
    clear: both;
    padding: 0;
    margin: .2em .2em .2em .2em;
  }
  .span_3_of_3 {
    width: 100%;
  }
  .span_2_of_3 {
    width: 66%;
  }
  .span_1_of_3 {
    width: 29%;
  }
}

// FORM HANDLING

#error_explanation {
  color: $persian_red;
  ul {
    color: $persian_red;
    margin: 0 0 2.5em 0;
  }
}

// HOME PAGE CLASS DEFINITIONS - MOBILE

.section_header {
  font-size: 2em;
  font-family: $georgia;
  font-weight: normal;
  letter-spacing: .1em;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_container {
  margin: 0;
  padding: 0;
  height: 125vh;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
}
.splash_text {  
  display: flex;
  justify-content: center;
  text-align: center;
  height: inherit;
  font-family: 'Homemade Apple', cursive;
  font-weight: normal;
  font-size: 1.4em;
  letter-spacing: .1em;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// SECTIONS - MOBILE

#index {
  background-color: #D8D6CA;
  color: #997CBE;
  h1 { 
  background-color: #F7F9EC;
    margin: -4vh 0 -3.3vh 0;
    padding: 0;
    font-size: 10.33vw;
    font-family: Impact;
    color: #997CBE;
  }
  img {
    width: 100vw;
  }
  td {
    color: #1F2739;
    text-align: center;
  }
  td:first-child, th:first-child {
    text-align: left;
  }
  td:nth-child(2), th:nth-child(2) {
    text-align: left;
  }
  td:last-child, tr:last-child {
    text-align: right;
  }
}
#welcome {
  background-image: image-url("anna_and_ryan-204-mobile-min.jpg");
  background-position: center bottom;
  height: 100vh;
  color: $white;
  .splash_text {
    padding-top: 25vh;
    font-size: 1.8em;
  }
  #join_us {
    // padding: .35em;
    // border-style: solid;
    // border-width: .05em;
    // border-color: $white;
    // color: $white;
    // background-color: rgba(60,40,20,.3);
  }
  #dimmer {
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(top, 
                                  $warming_green 0%, 
                                  rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, 
                                  $warming_green 0%, 
                                  rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, 
                                  $warming_green 0%, 
                                  rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( 
                                  startColorstr="rgba(170,170,7,.1)", 
                                  endColorstr='rgba(255,255,255,0)',
                                  GradientType=0 ); /* IE6-9 fallback */
  }
}
#intro {
  height: auto;
  background-color: $white;
  color: $kelp_gray;
  #welcome_sign {
    margin-top: -129px;
  }
  p {
    text-indent: 1.5em;
    text-align: justify;
  }
}
#rsvp {
  background-color: $kelp_gray;
  color: $white;
  background-image: image-url("anna_and_ryan-237.jpg");
  header { padding: 52vh 0 8vh 0; }
  a:link, a:visited  {
    padding: .35em .6em; 
    border-style: solid;
    border-width: .05em;
    border-color: $white;
    color: $white;
    font-size: 1.9em;
    letter-spacing: .25em;
    text-align: center;
    text-decoration: none;
  }
  a:hover, a:active {
    background-color: $white;
    color: $kelp_gray;
  }
}
#lodging {
  background-color: $white;
  color: $kelp_gray;
  height: auto;
  margin: 0;
  padding-top: 0;
  #tree_emblem {
    margin-top: -79px;
  }
  #lodging_options {
    display: flex;
    flex-direction: column;
    padding: .6em;
  }
  #camping_options { 
    div { padding: 1em 0 4em 0; }
  }
  p {
    padding: 0 1em;
    text-align: justify;
  }
}
#schedule {
  background-color: $kelp_gray;
  color: $white;
  background-image: image-url("anna_and_ryan-88.jpg");
  height: auto;
  header { padding-top: 2.6em; }
  table {
    font-family: $timesnewroman;
    font-weight: normal;
    font-size: 1.3em;
    letter-spacing: .1em;
    padding: 0 .6em 9em .6em;
    border-collapse: collapse;
  }
  th { 
    padding-top: .3em;
    padding-bottom: .2em;
    font-family: $homemade_apple;
    font-weight: normal;
    letter-spacing: .1em;
    font-weight: normal;
    font-size: 1.8em;
    text-transform: lowercase; 
  }
  td { padding: .5em; }
  td:first-child { 
    width: 40%;
    padding-right: 1em;
    text-align: right; 
  }
  tr:nth-child(2),
  tr:nth-child(4),
  tr:nth-child(5),
  tr:nth-child(6),
  tr:nth-child(7),
  tr:nth-child(8) {
      background-color: rgba(20,20,20,.75);
      border-left: solid .05em;
      border-right: solid .05em;
  }
  tr:nth-child(2),
  tr:nth-child(4) {
      border-top: solid .05em;
  }
  tr:nth-child(2),
  tr:nth-child(8) {
    border-bottom: solid .05em;
  }
}
#activities {
  background-color: $white;
  color: $kelp_gray;
  height: auto;
  #two_trees {
    margin-top: -69px;
  }
  p {
    text-indent: 1.5em;
    text-align: justify;
  }
  .section {
    padding-bottom: 2em;
  }
}
#photobreak_one {
  background-image: image-url("anna_and_ryan-210.jpg");
  background-position: center bottom;
  height: 25vh;
}
#venue {
  background-color: $white;
  color: $kelp_gray;
  height: auto;
  #three_trees {
    margin-top: -69px;
  }
  p {
    text-indent: 1.5em;
    text-align: justify;
  }
  .section {
    padding-bottom: 2em;
  }
}
#photobreak_two {
  background-image: image-url("anna_and_ryan-27.jpg");
  background-position: center bottom;
  height: 75vh;
}
#registry {
  height: auto;
  background-color: $white;
  color: $kelp_gray;
  #solo_tree {
    margin-top: -69px;
  }
  #registered_retailers {
    display: flex;
    flex-direction: column;
    padding-bottom: 4em;
  }
}
#photobreak_three {
  background-image: image-url("angled_map_bg-1366.jpg");
  height: 35vh;
}
#directions {
  height: auto;
  background-color: #fff;
  color: $kelp_gray;
  #single_tree {
    margin-top: -69px;
  }
  p {
    padding: 0 1em;
    text-align: justify;
  }
  fig {
    padding-top: 2em;
  }
  figcaption {
    padding-bottom: 2em;
  }
}
#photobreak_four {
  background-image: image-url("anna_and_ryan-272.jpg");
  background-position: center bottom;
  height: 75vh;
}
#contact {
  height: auto;
  background-color: $kelp_gray;
  color: $white;
  padding-top: .1em;
  padding-bottom: 2em;
  header {
    padding: 3em 0 0 0;
  }
  a {
    padding: 0 .4em;
  }
  small {
    padding: 3em 0 .2em 0;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .18em;
  }
}

#rsvp_page, #edit, #reservation, #check, #add_attendee {
  height: auto;
  background-color: $white;
  color: $kelp_gray;
  h1 {
    padding: 3em 0 0 0;
  }
  h2, h3 {
    text-transform: lowercase;
    text-align: center;
    font-family: $homemade_apple;
    font-size: 1.5em;
    color: $mantis_green;
    padding: .3em 0 .2em 0;
  }
  h3 {
    color: $kelp_gray;
    font-size: 1.3em;
    padding: 0 0 .2em 0;
  }
  p {
    padding: 0 1.5em;
  }
  #guests_welcome {
    margin-top: -1em; 
  }
  table {
    font-family: $timesnewroman;
    font-weight: normal;
    font-size: 1.3em;
    letter-spacing: .1em;
    padding: 0 .6em 1em .6em;
    border-collapse: collapse;
  }
  td { padding: .5em; }
  td:first-child {
    text-align: right; 
  }
  .attendee_row, .song_row {
    font-size: .8em;
  }
  .midway {
    width: 50%;
  } 
  .triplet_para {
    padding: 0 0 1em 0;
  }

  label {
    font-family: $georgia;
    letter-spacing: .1em;
    text-transform: lowercase;
    padding: 0 .3em 0 0;
  }
  #submit_box {
    text-align: center;
    margin: 1em 0 2em 0;
  }
  .submit_button {
    font-family: serif;
    color: $kelp_gray;
    text-transform: lowercase;
    background-color: $white;
    border: $kelp_gray;
    padding: .35em;
    border-style: solid;
    border-width: .05em;
    border-color: $kelp_gray;
    font-size: 1.4em;
    letter-spacing: .25em;
    text-align: center;
    text-decoration: none;
  }
  .submit_button:hover, :active {
      background-color: $kelp_gray;
      border-color: $white;
      color: $white;
  }
}
#reservation {
  .attendee_row {
    td:first-child {
      color: $mantis_green; 
    }
  }
}
#endpage_tree {
  margin: 100px 0 -32px 0;
}




// ---------------------------- SAVEDATE - MOBILE -----------------------------

// SAVEDATE CLASS DEFINITIONS - MOBILE

.savedate-fixed-bg1 {
  margin: 2%;
  padding-bottom: 0;
  height: 92%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: image-url("2016.11.12.greentrees.sizedbg.589x768.jpg");
}
.savedate-fixed-bg2 {
  margin: 0;
  padding-top: 20%;
  min-height: 99%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
}
.savedate-text-container1 {
  display: block;
  margin: auto;
  padding-top: 2%;
  justify-content: center;
  height:100%; width:auto;
}
.savedate-text-container2 {
  display: block;
  margin: auto;
  padding-top: 2%;
  justify-content: center;
  height:100%; width:auto;
}
.savedate-text-lrg {
  font-size: 4em;
  display: flex;
  justify-content: center;
  margin: .5em; 
}
.savedate-text-med {
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  margin: .75em; 
}
.savedate-text-sml {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin: 3em; 
}

// ---- SAVEDATE ID DEFINITIONS - MOBILE

#savedate-wholepage {
  font-family: Arial, sans-serif;
  color: #4B3E38;
  height: 100%;
  margin: 0;
}
#savedate-forest {
  display: flex;
  max-width: 99%;
  max-height: 99%;
  justify-content: center;
  align-items: center;
  margin: auto;
}


// ########################### DESKTOP ORIENTATION ############################
// This site is designed to be MOBILE-FIRST. Below are the explicit adjustments
// necessary for larger desktop renders. (Mobile Orientation section is above.)

// ----------------------------- NAVBAR - DESKTOP -----------------------------

@media only screen and (min-width: 1024px) {
  #navbar {
    position: fixed;
    top: 0;
    padding: .2em 1em 0 2em;
    height: 2.4em; 
    width: 100vw;
  }
  ul.topnav {
      list-style-type: none;
      overflow: hidden;
      text-transform: none;
      text-shadow: none;
  }
  ul.topnav li a {
      display: block;
      color: $white;
      font-size: 1em;
      letter-spacing: .25em;
      text-align: center;
      padding: .4em .5em;
      text-decoration: none;
  }
  ul.topnav li.left {
    float: left;
    margin: -.1em;
  }
  ul.topnav li {float: right;}
  ul.topnav li a:hover {
    background-color: $white; 
    color: $kelp_gray;
  }
  ul.topnav li a:hover:active {background-color: $white; color: $kelp_gray;}
  ul.topnav li a.active:not(:hover) {
    padding: .35em .45em;
    border-style: solid;
    border-width: .05em;
    border-color: $white;
  }
}


// ---------------------------- HOME PAGE - DESKTOP ---------------------------

@media only screen and (min-width: 1024px) {

  // CLASS DEFINITIONS - DESKTOP

  // Parallax scrolling for stronger performing machines.
  .section_container {background-attachment: fixed;}

  // SECTIONS - DESKTOP

  #welcome {
    background-image: image-url("anna_and_ryan-204.jpg");
    background-position: center bottom;
    height: 125vh;
    // margin-top: -4.6em;
    .splash_text {
      padding-top: 45vh;
      font-size: 1.9em;
    }
  }
  #rsvp {
    header {
      padding: 22vh 0 8vh 0;
    }
  }
  #lodging {
    #lodging_options {
      display: flex;
      justify-content: space-around;
      flex-direction: initial;
    }
    p {
      padding: 0 30vh;
      text-align: justify;
    }
  }
  #registry {
    #registered_retailers {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
  }
  #directions {
    p {
      padding: 0 30vh;
      text-align: justify;
    }
  }
  #contact {
  }
  #rsvp_page, #edit, #reservation, #check {
    p {
      padding: 1em 30vh;
      text-align: justify;
    }
  }
}

// ---------------------------- SAVEDATE - DESKTOP ----------------------------

@media only screen and (min-width: 1024px) {
  .savedate-fixed-bg1 {
    margin: 2%;
    padding: 0;
    min-height: 92%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: image-url("2016.10.19.greentrees.sizedbg.1920x1080.jpg");
  }
}