


// ------------------------------ COLOR PALETTE: ------------------------------

$white: #fff;
$spanish_white: #dfd3bb;
$persian_red: #D53223;
$mantis_green: #7EBF59;
$bondi_blue: #008DB8;
$kelp_gray: #4B4F40;
$warming_gray: rgba(60,40,20,.3);

// ------------------------------ FONT PALETTE: -------------------------------

$homemade_apple: 'Homemade Apple', cursive;
$verdana: 'Verdana', sans-serif;
$georgia: 'Georgia', serif;
$timesnewroman: 'Times New Roman', serif;


// ############################ TABLE OF CONTENTS: ############################
// ---------------------------- GLOBAL DEFINITIONS ----------------------------
// -------- body, html, p
// ----------------------------- NAVBAR - MOBILE ------------------------------
// ---- NAVBAR
// ---------------------------- HOME PAGE - MOBILE ----------------------------
// ---- RESPONSIVE COLUMNS
// ---- CLASS
// ---- SECTIONS
// -------- #welcome_splash
// -------- #intro
// -------- #rsvp
// -------- #lodging
// -------- #schedule
// -------- #activities
// -------- #venue
// -------- #registry
// -------- #directions
// -------- #contact
// ---------------------------- SAVEDATE - MOBILE -----------------------------
// ---- CLASS
// ---- ID
// ----------------------------- NAVBAR - MOBILE ------------------------------
// ---- NAVBAR
// ---------------------------- HOME PAGE - DESKTOP ---------------------------
// ---- CLASS
// ---- SECTIONS
// ---------------------------- SAVEDATE - DESKTOP ----------------------------


// ############################ GLOBAL DEFINITIONS ############################
// These top level definitions apply to multiple static pages.

* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
p {
  font-family: $timesnewroman;
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: .1em;
}
a { color: inherit; }
.emphasis {
  font-style: italic;
  color: $persian_red;
}


// ############################ MOBILE ORIENTATION ############################
// This site is designed to be MOBILE-FIRST. Below are the default stylings,
// intended for initial mobile renders. (The Desktop Orientation section can be
// found further down this file.)

// ----------------------------- NAVBAR - MOBILE ------------------------------

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-transform: lowercase;
    text-shadow: 1px 1px 20px $white;
}
ul.topnav li {float: none;}
ul.topnav li a {
    display: block;
    color: $kelp_gray;
    font-size: 1.6em;
    letter-spacing: .25em;
    text-align: center;
    padding-bottom: 14px;
    text-decoration: none;
}
#nav_backing {
  background: $kelp_gray; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $spanish_white 0%, $mantis_green 50%, $kelp_gray 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $spanish_white 0%,$mantis_green 50%, $kelp_gray 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $spanish_white 0%, $mantis_green 50%, $kelp_gray 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mantis_green', endColorstr='$kelp_gray',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height: 46%;
  margin-top: -290px;
}



// ---------------------------- HOME PAGE - MOBILE ----------------------------

// RESPONSIVE COLUMNS

.section {
  clear: both;
  padding: 0px;
  margin: .2em 2em 2em 2em;
}
.col {
  display: block;
  float:left;
  margin: 0%;
}
.col:first-child { margin-left: 0; }
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.span_2_of_2, .span_1_of_2 { width: 100%; margin-bottom: -20px;}

@media only screen and (min-width: 1024px) {
  .section {
    clear: both;
    padding: 0px;
    margin: .2em 5em 5em 5em;
  }
  .col { 
    margin: 0% 0% 0% 4%;
  }
  .span_2_of_2 {
    width: 100%;
  }
  .span_1_of_2 {
    width: 48%;
  }
}

// FORM HANDLING

#error_explanation {
  color: $persian_red;
  ul {
    color: $persian_red;
    margin: 0 0 30px 0;
  }
}


// HOME PAGE CLASS DEFINITIONS - MOBILE

.section_header {
  font-size: 2em;
  font-family: $georgia;
  font-weight: normal;
  letter-spacing: .1em;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_container {
  margin: 0;
  padding: 0;
  height: 125%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $kelp_gray;
  color: $white;
}
// Magic disappearing div!
.splash_text {
  display: none;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// SECTIONS - MOBILE

#welcome_splash {
  background-image: image-url("anna_and_ryan-204.jpg");
  background-position: center bottom;
  margin-top: -290px;
  h3 {
    padding-top: 25%;
  }
}
#intro {
  height: auto;
  background-color: $white;
  color: $kelp_gray;
  #welcome_sign {
    margin-top: -129px;
    margin-bottom: 1.3em;
  }
  p {
    text-indent: 1.5em;
    text-align: justify;
  }
}
#rsvp {
  background-image: image-url("anna_and_ryan-237.jpg");
  header { padding: 52% 0% 8% 0%; }
  a:link, a:visited  {
    padding: 12px 20px 12px 32px;
    border-style: solid;
    border-width: 2px;
    border-color: $white;
    color: $white;
    font-size: 1.9em;
    letter-spacing: .25em;
    text-align: center;
    text-decoration: none;
  }
  a:hover, a:active {
    background-color: $white;
    color: $kelp_gray;
  }
}
#lodging {
  background-color: $white;
  color: $kelp_gray;
  height: auto;
  margin: 0;
  padding-top: 0;
  #tree_emblem {
    margin-top: -79px;
    margin-bottom: -79px;
    padding-bottom: 40px;
  }
  #lodging_options {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  #camping_options { 
    div { padding: 20px 0 60px 0; }
  }
  p {
    padding: 0 20px;
    text-align: justify;
  }
}
#schedule {
  background-image: image-url("anna_and_ryan-88.jpg");
  header { padding-top: 32px; }
  table {
    font-family: $timesnewroman;
    font-weight: normal;
    font-size: 1.3em;
    letter-spacing: .1em;
    padding: 0 10px 30px 10px;
    border-collapse: collapse;
  }
  th { 
    padding-top: .3em;
    padding-bottom: .2em;
    font-family: $homemade_apple;
    font-weight: normal;
    letter-spacing: .1em;
    font-weight: normal;
    font-size: 1.8em;
    text-transform: lowercase; 
  }
  td { padding: .5em; }
  td:first-child { 
    width: 40%;
    padding-right: 1em;
    text-align: right; 
  }
  tr:nth-child(2),
  tr:nth-child(4),
  tr:nth-child(5),
  tr:nth-child(6),
  tr:nth-child(7),
  tr:nth-child(8) {
      background-color: rgba(30,20,10,.5);
      border-left: solid 2px;
      border-right: solid 2px;
  }
  tr:nth-child(2),
  tr:nth-child(4) {
      border-top: solid 2px;
  }
  tr:nth-child(2),
  tr:nth-child(8) {
    border-bottom: solid 2px;
  }
}
#activities {
  background-color: #fff;
  color: $kelp_gray;
  height: auto;
  #two_trees {
    margin-top: -69px;
    margin-bottom: -69px;
    padding-bottom: 40px; 
  }
  p {
    text-indent: 1.5em;
    text-align: justify;
  }
}
#photobreak_one {
  background-image: image-url("anna_and_ryan-210.jpg");
  background-position: center bottom;
  height: 25%;
}
#venue {
  background-color: #fff;
  color: $kelp_gray;
  height: auto;
  padding-bottom: 1px;
  header { padding-top: 30px; }
  p {
    text-indent: 1.5em;
    text-align: justify;
  }
}
#photobreak_two {
  background-image: image-url("anna_and_ryan-27.jpg");
  background-position: center bottom;
  height: 50%;
}
#registry {
  height: auto;
  background-color: #fff;
  color: $kelp_gray;
  #registered_retailers {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
}
#photobreak_three {
  background-image: image-url("angled_map_bg-1366.jpg");
  height: 50%;
}
#directions {
  height: auto;
  background-color: #fff;
  color: $kelp_gray;
  header { padding: 20px; }
  p {
    padding: 0 20px;
    text-align: justify;
  }
}
#photobreak_four {
  background-image: image-url("anna_and_ryan-272.jpg");
  background-position: center bottom;
  height: 70%;
}
#contact {
  height: auto;
  background-color: $kelp_gray;
  margin-top: -27px;
  padding-top: 2px;
  padding-bottom: 20px;
  h3 {
    padding: 10px 40px;
  }
  a {
    padding: 0px .4em;
  }
  small {
    padding: 40px 0 4px 0;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .18em;
  }
}

#rsvp_page, #edit {
  height: auto;
  min-height: 90%;
  background-color: #fff;
  color: $kelp_gray;
  h2 {
    font-family: $homemade_apple;
    color: $mantis_green;
    text-align: center;
  }
  p {
    text-align: center;
  }
  p:last-child {
    padding-bottom: 100px;
  }
  li {
    text-align: center;
    list-style-type: none;
    padding: .5em;
  }
  label {
    font-family: $georgia;
    letter-spacing: .1em;
    padding-right: 1em;
  }
  #submit_button {
    font-family: serif;
    color: $kelp_gray;
    text-transform: lowercase;
    background-color: $white;
    border: $kelp_gray;
    padding: 12px 20px 12px 32px;
    border-style: solid;
    border-width: 2px;
    border-color: $kelp_gray;
    font-size: 1.4em;
    letter-spacing: .25em;
    text-align: center;
    text-decoration: none;
    margin: 20px 0 0 0;
  }
  #submit_button:hover, :active {
      background-color: $kelp_gray;
      border-color: $white;
      color: $white;
    }
}
#edit {
  height: auto;
  background-color: #fff;
  color: $kelp_gray;
}
#reservation {
  height: auto;
  background-color: #fff;
  color: $kelp_gray;
}
#check {
  height: auto;
  background-color: #fff;
  color: $kelp_gray;
}





// ---------------------------- SAVEDATE - MOBILE -----------------------------

// SAVEDATE CLASS DEFINITIONS - MOBILE

.savedate-fixed-bg1 {
  margin: 2%;
  padding-bottom: 0;
  height: 92%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: image-url("2016.11.12.greentrees.sizedbg.589x768.jpg");
}
.savedate-fixed-bg2 {
  margin: 0;
  padding-top: 20%;
  min-height: 99%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
}
.savedate-text-container1 {
  display: block;
  margin: auto;
  padding-top: 2%;
  justify-content: center;
  height:100%; width:auto;
}
.savedate-text-container2 {
  display: block;
  margin: auto;
  padding-top: 2%;
  justify-content: center;
  height:100%; width:auto;
}
.savedate-text-lrg {
  font-size: 4em;
  display: flex;
  justify-content: center;
  margin: .5em; 
}
.savedate-text-med {
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  margin: .75em; 
}
.savedate-text-sml {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin: 3em; 
}

// ---- SAVEDATE ID DEFINITIONS - MOBILE

#savedate-wholepage {
  font-family: Arial, sans-serif;
  color: #4B3E38;
  height: 100%;
  margin: 0;
}
#savedate-forest {
  display: flex;
  max-width: 99%;
  max-height: 99%;
  justify-content: center;
  align-items: center;
  margin: auto;
}


// ########################### DESKTOP ORIENTATION ############################
// This site is designed to be MOBILE-FIRST. Below are the explicit adjustments
// necessary for larger desktop renders. (Mobile Orientation section is above.)

// ----------------------------- NAVBAR - DESKTOP -----------------------------

@media only screen and (min-width: 1024px) {
  #navbar {margin-left: 20px; margin-right: 20px;}
  ul.topnav {
      list-style-type: none;
      margin-top: 24px;
      padding: 0;
      overflow: hidden;
      text-transform: none;
      text-shadow: none;
  }
  ul.topnav li a {
      display: block;
      color: #fff;
      font-size: 1.3em;
      letter-spacing: .25em;
      text-align: center;
      padding-left: 12px;
      padding-top: 5px;
      padding-right: 6px;
      padding-bottom: 7px;
      text-decoration: none;
  }
  ul.topnav li.left {float: left;}
  ul.topnav li {float: right;}
  ul.topnav li a:hover {
    background-color: #fff; 
    color: #4B4F40;
  }
  ul.topnav li a:hover:active {background-color: #fff; color: #4B4F40;}
  ul.topnav li a.active:not(:hover) {
    padding-left: 10px;
    padding-top: 3px;
    padding-right: 4px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    color: #fff;
    background-color: rgba(60,40,20,.2);
  }
  #nav_backing {
    // background-image: image-url("nav_backing_trees.jpg");
    // background-position: center top;
    // background-size: contain;
    height: 19%;
    margin-top: -105px;
  }
}


// ---------------------------- HOME PAGE - DESKTOP ---------------------------

@media only screen and (min-width: 1024px) {

  // CLASS DEFINITIONS - DESKTOP

  // Parallax scrolling for stronger performing machines.
  .section_container {background-attachment: fixed;}

  // Magic re-appearing div!
  .splash_text {  
    display: flex;
    justify-content: center;
    text-align: center;
    height: inherit;
    font-family: 'Homemade Apple', cursive;
    font-weight: normal;
    letter-spacing: .1em;
  }

  // SECTIONS - DESKTOP

  #welcome_splash {
    margin-top: -105px;
    // Magic re-appearing div!
    h3 {font-size: 2.1em;}
  }
  #rsvp {
    header {
      padding: 22% 0% 8% 0%;
    }
  }
  #lodging {
    #lodging_options {
      display: flex;
      justify-content: space-around;
      flex-direction: initial;
    }
    p {
      padding: 0 26%;
      text-align: justify;
    }
  }
  #registry {
    #registered_retailers {
      display: flex;
      justify-content: space-around;
      flex-direction: initial;
    }
  }
  #directions {
    p {
      padding: 0 26%;
      text-align: justify;
    }
  }
  #contact {
    // Magic re-appearing div!
    h3 {font-size: 1.4em;}
  }
}

// ---------------------------- SAVEDATE - DESKTOP ----------------------------

@media only screen and (min-width: 1024px) {
  .savedate-fixed-bg1 {
    margin: 2%;
    padding: 0;
    min-height: 92%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: image-url("2016.10.19.greentrees.sizedbg.1920x1080.jpg");
  }
}