// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html, main {
  height: 100%;
  margin: 0;
}

// ############################ MOBILE ORIENTATION ############################
// This site is designed to be MOBILE-FIRST. Below are the default stylings,
// intended for initial mobile renders. (The Desktop Orientation section can be
// found further down this file.)
//
// ------------------------------ COLOR PALETTE: ------------------------------

// Bondi Blue ---------------------- #008DB8
// Kelp Gray ----------------------- #4B4F40
// Mantis Green -------------------- #7EBF59

// ---------------------------- Table of Contents: ----------------------------
// 
// ---------------------------- HOME PAGE - Mobile ----------------------------
// ---- CLASS DEFINITIONS
// -------- .section_header
// -------- .mid_section_splash_text
// 
// ---- ID DEFINITIONS
// -------- #welcome_splash
// -------- #intro
// -------- #rsvp
// -------- #lodging
// -------- #schedule
// -------- #activities
// -------- #venue
// -------- #registry
// -------- #directions
// -------- #contact
// 
// ---------------------------- SAVEDATE - Mobile -----------------------------
// ---- CLASS DEFINITIONS
// -------- .savedate-fixed-bg1
// -------- .savedate-fixed-bg2
// -------- .savedate-text-container1
// -------- .savedate-text-container2
// -------- .savedate-text-lrg
// -------- .savedate-text-med
// -------- .savedate-text-sml
// 
// ----- ID DEFINITIONS
// -------- #savedate-wholepage
// -------- #savedate-forest
// 
// ---------------------------- HOME PAGE - Desktop ---------------------------
// -------- .section_container
// 
// ---------------------------- SAVEDATE - Desktop ----------------------------
// -------- .savedate-fixed-bg1


// HOME PAGE - Mobile Orientation
// ---- HOME PAGE CLASS DEFINITIONS

.section_header {

}
.section_container {
  margin: 0;
  padding-bottom: 0;
  height: 100%;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
}
.mid_section_splash_text {

}

// ---- HOME PAGE ID DEFINITIONS

#welcome_splash {

}
#intro {
  height: 50%;
  background-color: #aaa;
}
#rsvp {
  // background-image: image-url("2016.10.19.greentrees.sizedbg.1920x1080.jpg");
}
#lodging {

}
#schedule {

}
#activities {

}
#venue {

}
#registry {

}
#directions {

}
#contact {
  height: 50%;
  background-color: #
}














// SAVEDATE PAGE - Mobile Orientation
// ---- SAVEDATE CLASS DEFINITIONS

.savedate-fixed-bg1 {
  margin: 2%;
  padding-bottom: 0;
  height: 92%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: image-url("2016.11.12.greentrees.sizedbg.589x768.jpg");
}
.savedate-fixed-bg2 {
  margin: 0;
  padding-top: 20%;
  min-height: 99%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
}
.savedate-text-container1 {
  display: block;
  margin: auto;
  padding-top: 2%;
  justify-content: center;
  height:100%; width:auto;
}
.savedate-text-container2 {
  display: block;
  margin: auto;
  padding-top: 2%;
  justify-content: center;
  height:100%; width:auto;
}
.savedate-text-lrg {
  font-size: 4em;
  display: flex;
  justify-content: center;
  margin: .5em; 
}
.savedate-text-med {
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  margin: .75em; 
}
.savedate-text-sml {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin: 3em; 
}

// ---- SAVEDATE ID DEFINITIONS

#savedate-wholepage {
  font-family: Arial, sans-serif;
  color: #4B3E38;
  height: 100%;
  margin: 0;
}
#savedate-forest {
  display: flex;
  max-width: 99%;
  max-height: 99%;
  justify-content: center;
  align-items: center;
  margin: auto;
}


// ########################### DESKTOP ORIENTATION ############################
// This site is designed to be MOBILE-FIRST. Below are the explicit adjustments
// necessary for larger desktop renders. (Mobile Orientation section is above.)

// HOME PAGE - Desktop Orientation

@media only screen and (min-width: 1024px) {
  .section_container {
    margin: 0;
    padding-bottom: 0;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
  }
}

// SAVEDATE PAGE - Desktop Orientation

@media only screen and (min-width: 1024px) {
  .savedate-fixed-bg1 {
    margin: 2%;
    padding: 0;
    min-height: 92%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: image-url("2016.10.19.greentrees.sizedbg.1920x1080.jpg");
  }
}