<footer class="section_container" id="contact">
  <header>
    <h2 class="section_header">Contact Information</h2>
  </header>
  <div class="splash_text">
    <h3>
      We are excited to have you join us. If you have any questions don’t hesitate to contact us.
    </h3>    
  </div>
  <div>
    <p class="flex_center">
      Anna: <a href="tel:+12064598713">206.459.8713</a> or <a href="mailto:anna.birinyi@gmail.com">anna.birinyi@gmail.com</a>
    </p>
    <p class="flex_center">
      Ryan: <a href="tel:+12066591036">206.659.1036</a> or <a href="mailto:wallace.ryan@gmail.com">wallace.ryan@gmail.com</a>
    </p>
    <small class="flex_center">
      Photography by --oh, oh god, what's the photographer's name??
    </small>
  </div>
</footer>